@page "/Productos/Nuevo"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h3>Nuevo Producto</h3>


        <EditForm Model="@prod">
            <DataAnnotationsValidator />



        </EditForm>

    </Authorized>
    <NotAuthorized>
        <h3>No tiene permisos para esta ruta</h3>
    </NotAuthorized>
</AuthorizeView>

